@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model MySecondVS15CoreApp.Interfaces.IMyInjectedService

<section>
    <span class="lead">My First ViewComponent</span>
    <p>@Model.MyGuid</p>
</section>