@model MySecondVS15CoreApp.Models.FirstClass
@*
    using TagHelpers below
*@

@{
}
<div>@ViewBag.myServiceObject.MyGuid</div>
<div>
    <span class="lead">Using TagHelper asp-for</span>
    <input asp-for="Value" class="form-control" />
</div>
@Html.Partial("~/Views/Main/PartialViews/IndexPartial.cshtml")